#contact{
  background-color: #f1f1f1;
}

.card{
  height: auto;
  background-color: #f1f1f1;
  margin-bottom: 15vh;
	overflow: hidden;
	background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	text-align: center;
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

	.card:hover{
		margin-top: -25px;
		box-shadow: 0 15px 20px rgba(0,0,0,0.1);
	}

.card_Banner{
	height: 100px;
	width: inherit;
	padding-top: 35px;
	background-color: #FAFAFA;
	background-size: cover;
	background-position: center;
}

	.card:nth-child(1) .card_Banner{
		/* ⬇ Photo by Alexandru Acea on Unsplash */
		background-image: url("https://.unsplash.com/photo-1537192830907-c60714675834?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f9f8ea79c488a95e95d35c10fad79b0d&auto=format&fit=crop&w=934&q=80");
	}

.card_Avatar{
	height: 100px;
	width: 100px;
	margin: auto auto;
	background-size: cover;
	background-position: center;
	background-color: #F1F1F1;
	border: 3px solid #FFFFFF;
	border-radius: 100%;
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

	.card .one .card_Avatar{
    background-image: url("https://www.ccanitd.in/images/Shivam.jpg");
  }
  .card .two .card_Avatar{
    background-image: url("https://www.ccanitd.in/images/Mayank.jpg");
  }
  .card .three .card_Avatar{
    background-image: url("https://www.ccanitd.in/images/Akhil.jpg");
  }

.card h3, a, i{
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

	.card h3{
		margin-top: 45px;
		margin-bottom: 5px;
		font-size: 18px;
		color: #212121;
	}

	.card a{
		display: block;
		padding: 5px 0px;
		font-size: 14px;
		color: #9E9E9E;
		text-decoration: none;
	}

	.card	a:hover{
			background-color: #FAFAFA;
			color: inherit;
			cursor: pointer; /* ⬅ For Codepen demo - Not important! */
		}

.card ul{
	margin-top: 10px;
	padding: 15px 0px;
	background-color: #FAFAFA;
}

.card	ul a{
		display: inline;
		margin-right: 10px;
	}

	.card	ul a:last-of-type{
			margin-right: 0px;
		}

	.card	ul a i{
			color: inherit;
		}

		.card	ul a i:hover{
				transform: scale(1.5);
				color: inherit;
			}

*::selection{
	background-color: #CCFF90;
}
